body {
  animation-name: Background-Color-Transition;
  animation-duration: 4s;
  background-color: yellow;
}

.title-container {
  margin-top: 7%;
}
.title {
  animation-name: Title-Scale-Effect;
  animation-duration: 4s;
  text-align: center;
}

.main {
  margin-top: 5%;
}

#screenshot-title {
  text-align: left;
  margin: 0 0 0 5%;
}

.intro {
  text-align: left;
  width: 90%;
  margin: 7% auto;
}

.intro>h4 {
  margin-bottom: 0;
}

.screenshot {
  width: 30%;
  margin: 2% 1%;
  box-shadow: 0 0 10px black;
  border-radius: 5px;
}

.screenshot:hover {
  animation: Imgs-Rising;
  animation-duration: 1s;
  box-shadow: 0 0 30px black;
}

.row {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 512px) {
  .title {
    animation: Phone-Title-Scale-Effect;
    animation-duration: 4s;
    font-size: 1.5em;
  }

  .half-col {
    width: 100%;
    margin: 7% auto 0 auto;
    text-align: center;
  }
}

@keyframes Imgs-Rising {
  from {
    box-shadow: 0 0 10px black;
  }
  to {
    box-shadow: 0 0 30px black;
  }
}

@keyframes Phone-Title-Scale-Effect {
  from {
    font-size: 2.7em;
  }
  to {
    font-size: 1.5em;
  }
}

@keyframes Title-Scale-Effect {
  from {
    font-size: 4em;
  }
  to {
    font-size: 2em;
  }
}

@keyframes Title-Scale-Effect {
  from {
    font-size: 4em;
  }
  to {
    font-size: 2em;
  }
}

@keyframes Background-Color-Transition {
  0% {background-color: purple;}
  25% {background-color: red;}
  50% {background-color: pink;}
  75% {background-color: orange;}
  100% {background-color: yellow;}
}